.App{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  display: flex;
  background-color: rgba(0, 0, 0, 0.09);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
ul{
  display: flex;
  list-style: none;
  padding: 10px;
}

li{
  margin-right: 15px;
}


h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  margin: 10px;
  margin-left: 40px;
  width: 130px;
  height: 130px;
}

.Products{
  display: flex;
  flex-wrap: wrap;
  max-width: 870px;
  margin: 0 auto;
}

.Products > Produto {
  flex: 1 1 200px;
}

